@page "/login"
@inject IAuthService AuthService
@inject NavigationManager Nav

<h3>Login</h3>

<EditForm>
    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" @bind="user.Username" class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" @bind="user.Password" class="form-control" />
    </div>

    <button class="btn btn-primary" @onclick="HandleLogin">Register</button>
</EditForm>

@if (ErrorMessage != null)
{
    <div class="text-danger mt-2">@ErrorMessage</div>
}

@code {
    private UserLoginDTO user = new UserLoginDTO();
    private string? ErrorMessage;

    private async Task HandleLogin()
    {

        var response = await AuthService.Login(user);

        if (response.Success)
        {
            Nav.NavigateTo("/");
        }
        else
        {
            ErrorMessage = response.Message;
        }
    }
}
